# Ignore IDE configuration files
.idea

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore the folders that composer auto generater
vendor
web/sites/all/modules/contrib
